{% extends "base.html" %}


        {% block main %}
        <div id="general" class ="grid-container">
           <div id="box-1">
               <img id="profile" src ={{userinfo["displaypic"]}}>
               <h1>{{userinfo['fullname']}}</h1>
               <p>@{{userinfo['username']}}</p>
               <p>{{userinfo['location']}}</p>
               <p>{{userinfo['joined_date']}}</p>
               
               
               
               
           </div>
           <div id ="box-2">
               <div id="justify">
               <p>{{userinfo['bio']}}</p>
               </div>
               <div id ="display">
               <div><h2>{{userinfo['num_of_posts']}}</h2><p>Posts</p></div>
               <div><h2>{{userinfo['num_following']}}</h2><p>Following</p></div>
               <div><h2>{{userinfo['num_of_followers']}}</h2> <p>Followers</p></div>
               </div>
               <button id="button">Follow</button>
           </div>
           
            
        </div>
        {% endblock %}
        
  
    
